@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

html{
    font-family: 'Varela Round', sans-serif;
    background-image: linear-gradient(to bottom right, #01589f, #043e6d);
    /* background-color: #121212; */
    /* background-color: #01589f; */
    max-width: 100vw;
    margin: 0 auto;
    text-align: center;
}

body{
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-left: 2em;
    padding-right: 2em;
    
}

.infoBar{
    position: absolute;
    display: flex;
    background-color: #00375e;
    top: 0;
    width: 100vw;
    height: 5em;
    max-width:100%;
    justify-content: space-between;
    align-items: center;
}

.left{
    display: flex;
    padding-left: 5em;
}

.right{
    display: flex;
    padding-right: 5em;
}

.loginPane{
    padding: 2em;
    /* background-image: linear-gradient(to bottom right, #198bff, #146fcc); */
    /* background-color: #272727; */
    background-color: #00375e;
    border-radius: .5em;
    margin-bottom: 5em;
}

.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
}

.cards{
    display:flex;
    align-items:flex-start;
    align-content:flex-start;
}

.datapill{
    z-index: 0;
    position: relative;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 2em;
    padding: 1em;
    /* background-image: linear-gradient(to bottom right, #3369ff, #1e80e2); */
    /* background-color: #272727; */
    background-color: #00375e;
    border-radius: .1em;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.createGame{
    min-width: 25em;
}

.sbs{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
}

.select{
    width: 100%;
}

.modal{
    display:none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: 100;
    background: rgba(0,0,0,0.4);
}

.playerList{
    z-index: 10;
    width: 100%;
    text-align:center;
    border: none;
    border-spacing: 0;
}

.playerList tr:nth-child(2){
    background-image: linear-gradient(to bottom right, #D4AF37, rgb(192, 159, 50));
    /* color: #2e2e2e; */
}

.playerList tr:nth-child(3){
    background-image: linear-gradient(to bottom right, #c0c0c0 , #a3a3a3 );
    /* color: #2e2e2e; */
}

.playerList tr:nth-child(4){
    background-image: linear-gradient(to bottom right, #cd7f32, #b36e2a);
    /* color: #2e2e2e; */
}

.playerList td{
    border: none;
    margin: 0;
    min-width: 5em;
}

.color{
    font-size: 1.5em;
    min-width: 0em!important;
}

.winBanner{
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    width: 100%;
    height: 5em;
    border-radius: .1em;
    font-size: 1.5em;
}


.subheading{
    font-size: .6em;
    text-align: center;
    width: 33%;
}

.sortingGames{
    width: 100%
}

.finGame{
    min-width:25em;
    max-width:30em;
}

.finGameTab{
    margin-top: 7em;
    width: 100%;
    
}

.finGameTab td:nth-child(1){
    text-align: left;
    /* color: #2e2e2e; */
}
.finGameTab td:nth-child(2){
    text-align: left;
    /* color: #2e2e2e; */
}

.finGameTabplay{
    margin-top: 1em;
    border: none;
    border-spacing: 0;
    width: 100%;
}

.finGameTabplay tr:nth-child(2){
    background-image: linear-gradient(to bottom right, #D4AF37, rgb(192, 159, 50));
    /* color: #2e2e2e; */
}

.finGameTabplay tr:nth-child(3){
    background-image: linear-gradient(to bottom right, #c0c0c0 , #a3a3a3 );
    /* color: #2e2e2e; */
}

.finGameTabplay tr:nth-child(4){
    background-image: linear-gradient(to bottom right, #cd7f32, #b36e2a);
    /* color: #2e2e2e; */
}

.ongoing{
    width:25em;
}

.input{
    border: none;
    border-radius: .25em;
    background-color: #a6cfeb;
    color:#395063;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    padding: .25em;
    font-size: .9em;
}

.input:focus{
    outline: none !important;
    box-shadow: 0 0 10px #685739;
}

.update{
    width: 13em;
}

.updateNumPad{
    margin: .1em;
}

.updateNum{
    width: 5em;
}

@media only screen and (max-width: 900px) {
    .datapill{
        /* padding-left: 0;
        padding-right: 0; */
        width: 95vw;
        margin: 0;
        margin-top: 2em;
    }
    .createGame{
        min-width: 0;
        width: 95vw;
        padding-left: .5em;
        padding-right: .5em;
    }

    .select{
        width: 80%;
    }

    .finGame{
        min-width: 90vw;
    }

    .ongoing{
        width: 90vw;
    }

    .winBanner{
        position: absolute;
        width: 100vw;
        height: 5em;
    }
    

    html{
        overflow-x: hidden;
    }
}