@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

html{
    font-family: 'Varela Round', sans-serif;
    background-image: linear-gradient(to bottom right, #333333, #2e2e2e);
}

body{
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-left: 2em;
    padding-right: 2em;
    
}

.loginPane{
    padding: 2em;
    background-image: linear-gradient(to bottom right, #198bff, #146fcc);
    border-radius: .5em;
    margin-bottom: 5em;
}

.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.datapill{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 2em;
    padding: 1em;
    background-image: linear-gradient(to bottom right, #3369ff, #1e80e2);
    border-radius: .5em;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
}

.modal{
    display:none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: 100;
    background: rgba(0,0,0,0.4);
}