@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.userInput{
    padding: .5em;
    border-radius: .5em;
    border: #e3e3e3;
    font-family: 'Varela Round', sans-serif;
    margin: .5em;
}

.button{
    background-color: #e3e3e3;
    border-radius: .5em;
    border: none; 
    font-family: 'Varela Round', sans-serif;
    margin: .5em;
    padding: .5em;
}

h1, h2, h3, h4{
    color: #fff;
}

.warning{
    background-color: #ad7c21;
    color: #e3e3e3;
}

.confirm{
    /* background-color: #1565c0; */
    background-color: rgb(103, 161, 37);
    color: #e3e3e3;
}

.error{
    background-color: #B33A3A;
    color: #e3e3e3;
}